<div>
    <h1>Create new Student</h1>

    <ul>
        <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="firstNameInput">First Name</mat-label>
                <input matInput name="firstNameInput" type="text" [(ngModel)] = "firstName" >
            </mat-form-field>
        </li>
            
        <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="lastNameInput">Last Name</mat-label>
                <input matInput name="lastNameInput" type="text" [(ngModel)] = "lastName" >
            </mat-form-field>
        </li>

        <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="guardianInput">Guardian Email Address</mat-label>
                <input matInput name="guardianInput" type="text" [(ngModel)] = "guardianEmail" >
            </mat-form-field>
        </li>
        

        
        
    </ul>
        


<button mat-raised-button (click)="createStudent()">Submit</button>
</div>