
<input id="toggle-menu" type="checkbox" />
<label for="toggle-menu" class="menu-on">Menu</label>
<label for="toggle-menu" class="menu-off"></label>

<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/add-student">Add Student</a></li>
        <li><a href="/search-student">Search Student</a></li>
        <li><a href="/delete-student">Delete Student</a></li>
        <li><a href="/grade-registration-page">Create Grade</a></li>
        <li><a href="/view-grades-page">View Grades Page</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>
