<div>
<input id="toggle-menu" type="checkbox" />
<label for="toggle-menu" class="menu-on">Menu</label>
<label for="toggle-menu" class="menu-off"></label>

<nav>
    <ul>
        <li><a mat-button routerLink="/home">Home</a></li>
        <li *ngIf="this.role === 'teacher'"><a mat-button routerLink="/add-student">Add Student</a></li>
        <li *ngIf="(this.role === 'teacher' || this.role === 'guardian')"><a mat-button routerLink="/search-student">Search Student</a></li>
        <li *ngIf="this.role === 'teacher'"><a mat-button routerLink="/delete-student">Delete Student</a></li>
        <li *ngIf="this.role === 'teacher'"><a mat-button routerLink="/grade-registration-page">Create Grade</a></li>
        <li *ngIf="(this.role === 'teacher' || this.role === 'guardian')"><a mat-button routerLink="/view-grades-page">View Grades Page</a></li>
        <li *ngIf="this.role === ''"><a mat-button routerLink="/login">Login</a></li>
        <li *ngIf="this.role !== ''"><a mat-button routerLink="/logout">Logout</a></li>
    </ul>
</nav>

</div>