
<div>
<h4 *ngIf="grades.length !== 0"></h4>

<h4>Select Student</h4>

<ul>
  <li>
    <mat-form-field class="example-full-width" appearance="fill">
    <mat-select [(ngModel)]="id" (ngModelChange)="retrieveGrades()" ><mat-option *ngFor = "let student of students" [value]="student.sId">{{student.firstName}} {{student.lastName}}</mat-option></mat-select>
    </mat-form-field>
  </li>
  <li>
    <!-- <button mat-raised-button (click)="retrieveGrades()">Retrieve Grades</button> -->
  </li>

</ul>

<table class="styled-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Note</th>
      <th>Behavior</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr class="active-row" *ngFor= "let g of grades">
      <td>{{g.timeReported | epoch}}</td>
      <td>{{g.note}}</td>
      <td>{{g.behavior}}</td>
      <td><button mat-raised-button (click)="deleteGrade(g.gId)">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>

