
.home-page{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    max-width: 80%;
}


mat-card{
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    color: black;
    
}




.wrapper {  
    margin-bottom: 10%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "hulk captain iron"
      "professorx storm batman";
  }
  
  .hulk { grid-area: hulk; }
  
  .captain { grid-area: captain; }
  
  .iron { grid-area: iron; }
  
  .professorx { grid-area: professorx; }
  
  .storm { grid-area: storm; }
  
  .batman { grid-area: batman; }
  