
<div>

    <h1>Search Students</h1>

    <ul>
        <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="fname">First Name</mat-label>
                <input matInput type = "text" [(ngModel)] = "fname" (keyup)="onKeySearch($event)">
            </mat-form-field>
        </li>

        <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="lname">Last Name</mat-label>
                <input matInput type = "text" [(ngModel)] = "lname" (keyup)="onKeySearch($event)">
            </mat-form-field>
        </li>

    </ul>
        
        
        
        
        <br><br>
        <div *ngIf="filtered.length > 0; then filtered_list else all">
        </div>

        <ng-template #filtered_list>

            <table class="styled-table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Guardian Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active-row" *ngFor="let t of filtered">
                        <td>{{t.firstName}}</td>
                        <td>{{t.lastName}}</td>
                        <td>{{t.guardianUsername}}</td>
                    </tr>
                </tbody>
        </table>

        </ng-template>

        <ng-template #all>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Guardian Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active-row" *ngFor="let t of students">
                        <td>{{t.firstName}}</td>
                        <td>{{t.lastName}}</td>
                        <td>{{t.guardianUsername}}</td>
                    </tr>
                </tbody>
        </table>
        </ng-template>    
</div>

