

  <fieldset>
    <legend>Register Grade</legend>

    <div>
      <label for="inputStudentid">Student Name</label>
      <select [(ngModel)]="studentId"><option *ngFor = "let student of students" [value]="student.sId">{{student.firstName}} {{student.lastName}}</option></select>
    </div>
    <div>
      <div>
      <label for="inputNote">Note</label>
    </div>
      <textarea rows="3" cols="50" placeholder="Anything of note student did" [(ngModel)]= "note"></textarea>
    </div>
    <div>
    <label for="behavior-type">Behavior </label>
    <select [(ngModel)]= "behavior">
      <option value="EXCELLENT">Excellent</option>
      <option value="SATISFACTORY">Satisfactory</option>
      <option value="POOR">Poor</option>
    </select>
  </div>
  </fieldset>


  <button (click)="register()">Register Grade</button>

<h1>Grade Registered with ID {{savedId}}</h1>

