

legend{
    font-size: 2em;
}


button{
    font-size: 2.5em;
    min-width: 100px;
    max-width: 300px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
ul{
    list-style: none;
}

.example-full-width {
    min-width: 100px;
    max-width: 500px;
    width: 100%;
  }
  fieldset{
    border-color: #fff;
  }

  button{
    background-color: #2c1320;
    color: #8797af;
  }