<div>

    <h1>Sign In</h1>

    <ul>
        <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text" [(ngModel)]="username">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="password">Password</mat-label>
                <input matInput type="password" [(ngModel)]="password">
            </mat-form-field>
        </li>
    </ul>

<button mat-raised-button (click) = "loginUser()">Login</button>
</div>