@import url('http://fonts.cdnfonts.com/css/international-super-hero');

/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.cdnfonts.com/css/international-super-hero');
.home-page, .create-student{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    max-width: 80%;
}

.reviews, .create-student{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 80%;
}

*{
  font-family: 'International Super Hero Light', sans-serif;
  font-size: 1em;
  letter-spacing: 3px;
}


html{
    background-color: darkslategray;
    color: #fff;
}


fieldset{
  font-size: 1em;
}

h1{
  font-size: 2em;
}

h3{
  font-size: 1em;
}

