/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.cdnfonts.com/css/international-super-hero');
.home-page, .create-student{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    max-width: 80%;
}

html{
    background-color: darkslategray;
    color: #fff;
}

/* *{
    font-family: 'International Super Hero', sans-serif;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.example-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }